:root{

--img-shrine: url('../img/shrine.png');

}




/* specify the color for h3, using variables */


body{
    background-image: var(--img-shrine);
    position:fixed;
    left: 7%;
    bottom: 20px;
    width: 70%;
    height: 100vh;
    border: 7px solid red;
    
   

}

#introduction{
position: relative;
top: 10px;
left: 10px;
}
#Portfolio{
position: relative;
top: 10px;
left: 100px; 
}

#Assignment{
position: relative;
top: 70px;
left: 10px; 
}




